/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --gray-reddis: #1b0205;
  --gray-100: #e7e8ea;
  --gray-200: #6f6f6f;
  --gray-500: #333333;
  --red-500: #990000;
}

html,
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 1.4em;
  color: var(--gray-500);
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.5em;
  }
}

h2 {
  color: var(--gray-500);
  font-size: 1.2em;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 1.5em;
  }
}

h3 {
  font-size: 1.1rem;
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size: 1.5rem;
  }
}

p,
li,
table {
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (min-width: 1024px) {
  p,
  li,
  table {
    font-size: 1.3rem;
  }
}

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: var(--gray-500);
}

ul {
  list-style: circle;
  padding-left: 3em;
}

.nowrap {
  white-space: nowrap;
}

.u-red {
  color: var(--gray-500);
}

.u-center,
.u-centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img.u-center,
img.u-centered {
  display: block;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.row {
  padding: 0;
}

.is-centered {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.u-red {
  color: var(--red-500);
}

.row [class^="col-"].is-centered {
  margin-left: auto;
  margin-right: auto;
}

.row [class^="col-"].border-left {
  border-left: 2px solid var(--gray-100);
}

.row [class^="col-"].border-right {
  border-right: 3px solid var(--gray-100);
}

.banner-topper {
  background-color: #d3d0c9;
  text-align: center;
}

.banner-topper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.lang-switch {
  padding-top: 1em;
  display: none;
}

.lang-switch .button {
  background: var(--gray-100);
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.lang-switch .button.selected {
  background: var(--red-500);
  color: white;
}

body.lang-id .lang-switch a.lang-id {
  background: var(--red-500);
  color: white;
}

body.lang-en .lang-switch a.lang-en {
  background: var(--red-500);
  color: white;
}

.button {
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.button.red {
  color: white;
  background: var(--red-500);
}

.big {
  font-size: x-large;
}

nav.header {
  background-color: var(--gray-reddis);
}

nav.header h3 {
  line-height: 1.2;
  font-size: 1em;
}

nav.header .no-hover a {
  color: var(--gray-200);
}

nav.header .no-hover a:hover {
  color: var(--gray-200);
  background: transparent;
}

nav.header a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  nav.header .nav-left a {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.2em;
    font-weight: 900;
  }
}

nav.header .dropdown-menu {
  background-color: var(--gray-reddis);
}

nav.header .dropdown-menu a {
  font-size: .7em;
}

/* section */
.juri .col-8.is-centered {
  padding-bottom: 4em;
}

.juri img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.juri .img-text {
  text-align: center;
  padding-top: 1em;
}

@media screen and (min-width: 1024px) {
  .juri .img-text {
    text-align: left;
    padding-top: 4em;
  }
}

.kontak-detail {
  text-align: center;
}

.kontak-detail .col-6 {
  margin-bottom: 4em;
}

.kontak-detail a {
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
}

.faq {
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .faq {
    font-size: 1.2rem;
  }
}

.faq > ol > li {
  font-size: 1rem;
  margin-top: 2em;
}

@media screen and (min-width: 1024px) {
  .faq > ol > li {
    font-size: 1.3rem;
  }
}

.faq > ol ul,
.faq > ol ol {
  padding-left: 1em;
  padding-top: .5em;
}

@media screen and (min-width: 1024px) {
  .faq > ol ul,
  .faq > ol ol {
    font-size: 2em;
  }
}

.row .main-content ol {
  padding-left: 2em;
}

.adoption .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 1em;
}

.adoption .item img {
  padding-right: 1em;
  max-height: 250px;
}

.adoption .item .text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.adoption .item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.adoption .item:nth-child(even) img {
  padding-left: 1em;
}

@media screen and (max-width: 767px) {
  .adoption .item {
    display: block;
  }
  .adoption .item img {
    text-transform: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  font-size: 1rem;
  text-align: center;
  margin-top: 3em;
}

footer .footer-middle {
  background: url(../images/footer-red.jpg);
  background-size: cover;
  padding: 3em 0;
  color: white;
  font-weight: 700;
}

footer .social-media img {
  padding: 0.25rem;
  max-width: 70px;
}

@media screen and (min-width: 1280px) {
  footer {
    font-size: 1.2em;
  }
}

footer .footer-small {
  background-color: var(--gray-500);
  text-align: center;
  color: #ea4e00;
  font-size: smaller;
  padding: 0.5em;
}

footer .footer-small span {
  margin: 0 1em;
}

.powered {
  vertical-align: middle;
}

.powered img {
  margin: 0 2em 2em;
  max-width: 50%;
}

.video-square {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  /* The height of the item will now be 56.25% of the width. */
}

.video-square iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.video-wide {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* The height of the item will now be 56.25% of the width. */
}

.video-wide iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .header .header-nav .nav-item {
    padding: .5em 1em;
  }
  .header #dropdown ul.dropdown-menu {
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
    position: relative;
    top: 1rem;
    float: none;
    border: none;
    background-color: transparent;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=tesca.css.map */