// made using https://cirrus-ui.netlify.app
@import "helpers/size";
:root {
    --gray-reddis: #1b0205;
    --gray-100: #e7e8ea;
    --gray-200: #6f6f6f;
    --gray-500: #333333;
    --red-500: #990000;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html,
body {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 1.4em;
    color: var(--gray-500);
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    @include screen-above(md) {
        font-size: 2.5em;
    }
}

h2 {
    color: var(--gray-500);
    font-size: 1.2em;
    @include screen-above(md) {
        font-size: 1.5em;
    }
}

h3 {
    font-size: 1.1rem;
    @include screen-above(md) {
        font-size: 1.5rem;
    }
}

p,
li,
table {
    font-size: 1rem;
    font-weight: 300;
    @include screen-above(md) {
        font-size: 1.3rem;
    }
}

p {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: var(--gray-500);
}

ul {
    list-style: circle;
    padding-left: 3em;
}

.nowrap {
    white-space: nowrap;
}

.u-red {
    color: var(--gray-500);
}

.u-center,
.u-centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img.u-center,
img.u-centered {
    display: block;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.row {
    padding: 0;
}

.is-centered {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.u-red {
    color: var(--red-500);
}

.row [class^="col-"].is-centered {
    margin-left: auto;
    margin-right: auto;
}

.row [class^="col-"].border-left {
    border-left: 2px solid var(--gray-100);
}

.row [class^="col-"].border-right {
    border-right: 3px solid var(--gray-100);
}

.banner-topper {
    background-color: #d3d0c9;
    text-align: center;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.lang-switch {
    padding-top: 1em;
    display: none;
    .button {
        background: var(--gray-100);
        padding: 0.2em 0.5em;
        border-radius: 5px;
    }
    .button.selected {
        background: var(--red-500);
        color: white;
    }
}

body.lang-id .lang-switch a.lang-id {
    background: var(--red-500);
    color: white;
}

body.lang-en .lang-switch a.lang-en {
    background: var(--red-500);
    color: white;
}

.button {
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.button.red {
    color: white;
    background: var(--red-500);
}

.big {
    font-size: x-large;
}

nav.header {
    background-color: var(--gray-reddis);
    h3 {
        line-height: 1.2;
        font-size: 1em;
    }
    .no-hover {
        a {
            color: var(--gray-200);
            &:hover {
                color: var(--gray-200);
                background: transparent;
            }
        }
    }
    a {
        color: white;
        text-decoration: none;
        // &:hover {
        //     color: #111;
        // }
    }
    @include screen-above(lg) {
        .nav-left {
            a {
                padding-left: 1.5em;
                padding-right: 1.5em;
                font-size: 1.2em;
                font-weight: 900;
            }
        }
    }
    .dropdown-menu {
        background-color: var(--gray-reddis);
        a {
            font-size: .7em;
        }
    }
}


/* section */

.juri {
    .col-8.is-centered {
        padding-bottom: 4em;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .img-text {
        text-align: center;
        padding-top: 1em;
        @include screen-above(md) {
            text-align: left;
            padding-top: 4em;
        }
    }
}

.kontak-detail {
    text-align: center;
    .col-6 {
        margin-bottom: 4em;
    }
    a {
        color: #ff0000;
        text-decoration: none;
        font-weight: bold;
    }
}

.faq {
    font-size: 1rem;
    @include screen-above(md) {
        font-size: 1.2rem;
    }
    >ol {
        >li {
            font-size: 1rem;
            margin-top: 2em;
            @include screen-above(md) {
                font-size: 1.3rem;
            }
        }
        ul,
        ol {
            padding-left: 1em;
            padding-top: .5em;
            @include screen-above(md) {
                font-size: 2em;
            }
        }
    }
}

.row .main-content ol {
    padding-left: 2em;
}

.adoption .item {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1em;
    img {
        padding-right: 1em;
        max-height: 250px;
    }
    .text {
        align-self: center
    }
    &:nth-child(even) {
        flex-direction: row;
        img {
            padding-left: 1em;
        }
    }
    @include screen-below (sm) {
        display: block;
        img {
            text-transform: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

footer {
    font-size: 1rem;
    text-align: center;
    margin-top: 3em;
    .footer-middle {
        background: url(../images/footer-red.jpg);
        background-size: cover;
        padding: 3em 0;
        color: white;
        font-weight: 700;
    }
    .social-media {
        img {
            padding: 0.25rem;
            max-width: 70px;
        }
    }
    @include screen-above(lg) {
        font-size: 1.2em;
    }
    .footer-small {
        background-color: var(--gray-500);
        text-align: center;
        color: #ea4e00;
        font-size: smaller;
        padding: 0.5em;
        span {
            margin: 0 1em;
        }
    }
}

.powered {
    vertical-align: middle;
    img {
        margin: 0 2em 2em;
        max-width: 50%;
    }
}

.video-square {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    /* The height of the item will now be 56.25% of the width. */
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}

.video-wide {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* The height of the item will now be 56.25% of the width. */
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}

@include screen-below (sm) {
    .header .header-nav .nav-item {
        padding: .5em 1em;
    }
    .header #dropdown ul.dropdown-menu {
        border-radius: 0;
        box-shadow: none;
        display: block;
        position: relative;
        top: 1rem;
        float: none;
        border: none;
        background-color: transparent;
        margin-bottom: 1rem;
    }
}