@import "./theme.scss";
@import "../helpers/_size";
/* LISTS */

ul,
ol {
    margin: 1rem 0 1rem 1rem;
    padding-inline-start: 0.5rem;

    /* Handle nesting */
    & ul,
    & ol {
        margin: 0 0 0 1rem;
    }
}

ul {
    list-style: disc;

    /* Nested list bullet types */
    & ul {
        list-style-type: circle;

        & ul {
            list-style-type: square;
        }
    }
}

ol ol {
    list-style: lower-alpha;
}

ol ol ol {
    list-style: upper-roman;
}

/* Description lists */

dl {
    margin: 1rem 0;
}

/* Detail title */
dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
}

li {
    margin: 0.25rem 0;

    // /* Exclude margin in menus */ Deprecated 0.5.6
    // &:not(.dropdown-menu > li):last-child {
    //     margin-bottom: 1rem;
    // }
}

/* MISC */
ul {
    &.no-bullets {
        list-style: none;
    }

    /* MENU LISTS */
    &.menu {
        font-size: 1rem;
        list-style: none;
        margin: 0.5rem 0;
    }

    /* Style headers to have even space distribution. */
    .menu-title:not(:first-child) {
        margin-bottom: 1rem;
    }
    
    .menu-title:not(:last-child) {
        margin-top: 1rem;
    }

    /* Style menu items */
    .menu-item a {
        color: map-get($grays, '700');
        display: block;
        padding: 0.5em 0.75em;
        border-radius: 3px;
        font-size: var(--font-size-s);
        cursor: pointer;
        -webkit-transition: all var(--animation-duration);
        transition: all var(--animation-duration);
    }

    .menu-item:hover > a {
        background-color: rgba(208, 208, 208, 0.3);
        color: var(--cirrus-primary);
        -webkit-transition: all var(--animation-duration);
        transition: all var(--animation-duration);
    }

    .menu-item.selected > a {
        color: #fff;
        background-color: var(--cirrus-primary);
    }

    .menu-item .menu-addon {
        padding: 0.3rem;
        z-index: 1;
        position: relative;
        color: var(--cirrus-fg);
        cursor: pointer;
        float: left;
        margin-right: 0.1rem;
        -webkit-transition: all var(--animation-duration);
        transition: all var(--animation-duration);
    }

    .menu-item .menu-addon .icon {
        font-size: inherit;
        vertical-align: auto;
    }

    .menu-item .menu-addon:hover {
        -webkit-transition: all var(--animation-duration);
        transition: all var(--animation-duration);
    }

    .menu-item .menu-addon.right {
        float: right;
        margin-right: 0;
        margin-left: 0.1rem;
    }

    .menu-item.selected .menu-addon {
        color: #fff;
    }

    /* Style sub menus inside a menu */
    .menu-item ul {
        border-left: 1px solid map-get($grays, '300');
        margin: 0.75rem;
        padding-left: 0.75rem;
    }
    
    li.menu-item:last-child {
        margin-bottom: 0;
    }

    /* Menu item divider */
    .divider {
        border-top: 0.1rem solid map-get($grays, '200');
        height: 0.1rem;
        margin: 1rem 0;
    }

    /* Title for the section separated by the divider */
    .divider::after {
        content: attr(data-label); /* Text that will be displayed */
        background-color: var(--cirrus-bg);
        color: map-get($grays, '500');
        display: inline-block;
        padding: 0 0.7rem;
        margin: 0.5rem;
        font-size: 0.7rem;
        -webkit-transform: translateY(-1.1rem);
        transform: translateY(-1.1rem);
    }
}

/* Dropdown menu for dropdown buttons */
.list-dropdown {
    display: inline-block;
    position: relative;

    .menu {
        position: absolute;
        top: 75%;
        left: 0;
        -webkit-animation: slide-down var(--animation-duration) ease 1;
        animation: slide-down 0.1s ease 1;
        background-color: var(--cirrus-bg);
        border-radius: 0.2rem;
        box-shadow: 0 1rem 3rem rgba(149, 157, 165, 0.3);
        margin: 0;
        opacity: 0;
        min-width: 15rem;
        padding: 0.25rem 0.5rem;
        -webkit-transform: translateY(0.5rem);
        transform: translateY(0.5rem);
        z-index: 10;
        pointer-events: none; /* Remove pointer events to prevent mouse hover to show menu even though it is not visible */
        overflow: hidden;
        -webkit-transition: all var(--animation-duration);
        transition: all var(--animation-duration);

        @include screen-below('sm') {
            height: 0;
            padding: 0 !important;
            position: relative;
        }
    }
    
    &.dropdown-right .menu {
        left: auto;
        right: 0;
    }
    
    /* Allow for shown and :focus selectors for JS and native CSS transitions */
    &.shown .menu,
    .btn-dropdown:focus + .menu,
    .menu:hover {
        display: block;
        opacity: 1;
        top: 100%;
        z-index: 100;
        pointer-events: auto; /* Restore pointer events */
        height: auto;
        -webkit-transition: all var(--animation-duration);
        transition: all var(--animation-duration);
    }
    
    .btn-group .btn-dropdown:nth-last-child(2) {
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }
}

/* TREE */
/* Tree Navigation Menu */
.tree {
    margin: 0;

    .tree-item {

        /* The title of the tree menu */
        .tree-item-header {
            display: block;
            padding: 0.25rem 0.5rem;
            cursor: pointer;
            font-weight: 700; /* Keep styling consistent with menu-items */
        }
        
        /* The dropdown glyph of the tree menu */
        .tree-item-header .icon {
            -webkit-transition: all var(--animation-duration);
            transition: all var(--animation-duration);
        }
        
        /* Expand the tree-item-body (has menu-items) */
        input:checked ~ .tree-item-body {
            max-height: 100vh;
        }
        
        /* Rotate the dropdown glyph */
        input:checked ~ .tree-item-header .icon {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
        
        /* Container for the menu-items of the tree menu */
        .tree-item-body {
            max-height: 0; /* Hidden at first */
            margin-left: 1.5rem;
            overflow: hidden;
            -webkit-transition: all var(--animation-duration);
            transition: all var(--animation-duration);
        }
    }
}

/* The body that will encompass the tree-nav and tree-nav-content */
.tree-nav-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    /* A fixed menu on the side with a tree component */
    .tree-nav {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        padding: 2rem 1rem 2rem 2rem;
        min-width: 15rem;
        height: 100vh;
        overflow: auto;
    }
    
    /* The container for the tree component to prevent it from overflowing */
    .tree-nav-container {
        overflow-y: auto;
        top: 4rem;
        bottom: 1rem;
    }

    /* Darkened area that will close the navbar when clicked for mobile only */
    & + .tree-nav-close {
        display: none; /* Not needed in desktop */
    }

    /* Push document body further right to account for sidebar space */
    & + .tree-nav-content {
        max-width: 100%;
        padding: 2rem;
        -ms-flex: 1 0 auto;
        -webkit-box-flex: 1;
        flex: 1 0 auto;
        overflow: auto;
        margin: 0;
    }

    /* The body where all other HTML components are entered if a tree-nav is used */
    .tree-nav-content {
        width: 100%;
        overflow: auto;
        margin: 0;
        padding: 2rem;
    }
}

@media screen and (max-width: 768px) {
    /* Hide the menu to the side by default */
    .tree-nav {
        height: 100%;
        left: 0;
        overflow-y: auto;
        padding: 3rem 1.5rem;
        position: fixed;
        top: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: transform var(--animation-duration) ease, -webkit-transform var(--animation-duration) ease;
        -webkit-transition: -webkit-transform var(--animation-duration) ease;
        transition: transform var(--animation-duration) ease;
        transition: -webkit-transform var(--animation-duration) ease;
        z-index: 400;

        /* Open the menu from the side */
        /* Use a link and add the id of this element as the url */
        &:target {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            transition: transform var(--animation-duration) ease, -webkit-transform var(--animation-duration) ease;
            -webkit-transition: -webkit-transform var(--animation-duration) ease;
            transition: -webkit-transform var(--animation-duration) ease;
            transition: transform var(--animation-duration) ease;

            /* Show the darkened area when the tree nav menu is clicked */
            & + .tree-nav-close {
                display: block;
                background-color: rgba(0, 0, 0, 0.15);
                height: 100%;
                left: 0;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 300;
            }
        }

        /* Create the area to click to close the menu */
        .tree-nav-close {
            background-color: rgba(0, 0, 0, 0.15);
            display: none;
            height: 100%;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 300;
        }

        /* Reset max-width in mobile */
        & + .tree-nav-body {
            max-width: inherit;
        }
    }

    /* Header bar for mobile websites with the tree-nav */
    .tree-nav-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(248, 249, 250, 0.8);
        height: 3.5rem;
        padding: 0.75rem 0.5rem;
        text-align: center;
        z-index: 300;
    }

    /* For dropdown menu used in header (different from header dropdown) */
    .nav-item.has-sub .list-dropdown {
        width: 100%;
        
        .btn-group {
            width: 100%;

            .btn-dropdown {
                flex-grow: 0;
            }
        }
    }

    /* Show the dropdown menu in mobile hamburger menu relative with the header menu */
    .list-dropdown .btn-dropdown:focus + .menu {
        position: relative;
        width: 100%;
    }
}
