@import "../helpers/_size";

@each $size in $spacing-system {
    /* Margin */
    .m-#{$size} { margin: calc(var(--space-size) * #{$size}) !important; }

    .mt-#{$size}, .my-#{$size} { margin-top: calc(var(--space-size) * #{$size}) !important; }
    .mb-#{$size}, .my-#{$size} { margin-bottom: calc(var(--space-size) * #{$size}) !important; }

    .ml-#{$size}, .mx-#{$size} { margin-left: calc(var(--space-size) * #{$size}) !important; }
    .mr-#{$size}, .mx-#{$size} { margin-right: calc(var(--space-size) * #{$size}) !important; }

    /* Spacing */
    .p-#{$size} { padding: calc(var(--space-size) * #{$size}) !important; }

    .pt-#{$size}, .py-#{$size} { padding-top: calc(var(--space-size) * #{$size}) !important; }
    .pb-#{$size}, .py-#{$size} { padding-bottom: calc(var(--space-size) * #{$size}) !important; }

    .pl-#{$size}, .px-#{$size} { padding-left: calc(var(--space-size) * #{$size}) !important; }
    .pr-#{$size}, .px-#{$size} { padding-right: calc(var(--space-size) * #{$size}) !important; }
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.mt-auto, .my-auto {
    margin-top: auto !important;
}

.mb-auto, .my-auto {
    margin-bottom: auto !important;
}