@import "../helpers/_functions";
@import "../helpers/_size";

/* Color scheme for Cirrus */
$cirrus-fg: #374054;
$cirrus-bg: #fff;

$cirrus-primary: #f03d4d;
$cirrus-primary-light: #ffdadd;
$cirrus-accent-hover: #d62939;
$cirrus-accent-border: #c21b2b;
$cirrus-light: #f6f9fc;
$cirrus-light-gray: #f8f9fa;
$cirrus-gray: #d5d7dc;
$cirrus-dark-gray: #909090;
$cirrus-dark: #363636;
$cirrus-link: #5e5cc7;
$cirrus-link-dark: #4643e2;
$cirrus-info: #2972fa;
$cirrus-success: #0dd157;
$cirrus-warning: #fab633;
$cirrus-danger: #fb4143;

$cirrus-light-hover: #d9e6f2;
$cirrus-dark-hover: #424242;
$cirrus-info-hover: #2368e9;
$cirrus-link-hover: #f8f7ff;
$cirrus-success-hover: #00b147;
$cirrus-warning-hover: #f9a90e;
$cirrus-danger-hover: #f1393c;

$control-themes: (
    'primary': $cirrus-primary,
    'gray': $cirrus-gray,
    'dark': $cirrus-dark,
    'link': $cirrus-link,
    'info': $cirrus-info,
    'success': $cirrus-success,
    'warning': $cirrus-warning,
    'danger': $cirrus-danger,
);

$cirrus-select-bg: rgba(0, 161, 255, 0.2);
$cirrus-input-border: rgb(61, 171, 240);

$cirrus-code-bg: var($cirrus-primary-light);
$cirrus-code-fg: #dc4753;

$cirrus-form-group-bg: var($cirrus-light-gray);
$cirrus-form-group-fg: var($cirrus-dark-gray);

$toast-primary-bg: rgba(49, 59, 80, 0.9);

$animation-duration: .2s;
$focus-opacity: 0.55;

/* v2 Colors */
$pinks: (
    '100': #F8E7F1,
    '200': #F3D2E3,
    '300': #ECB7D3,
    '400': #EB8CBC,
    '500': #DD5A9C,
    '600': #D12E81,
    '700': #A21F61,
    '800': #831B50,
    '900': #741648
);

$reds: (
    '100': #FDE7E9,
    '200': #FBD4D5,
    '300': #F7B1B1,
    '400': #F19393,
    '500': #E85C61,
    '600': #DB3839,
    '700': #B31E1D,
    '800': #9B1313,
    '900': #890E10
);

$oranges: (
    '100': #FDEED1,
    '200': #FBDBAA,
    '300': #F6B65C,
    '400': #F19736,
    '500': #E4771C,
    '600': #C45307,
    '700': #9B3908,
    '800': #842B09,
    '900': #890E10
);

$yellows: (
    '100': #FFFDE4,
    '200': #F9E978,
    '300': #F6DA52,
    '400': #E8BB24,
    '500': #D29507,
    '600': #9D6B0C,
    '700': #7C4D09,
    '800': #6C3E0C,
    '900': #5D320F
);

$greens: (
    '100': #E1F7EB,
    '200': #C2ECD6,
    '300': #98D9B7,
    '400': #64C192,
    '500': #44A675,
    '600': #33855D,
    '700': #27684A,
    '800': #275440,
    '900': #234535
);

$teals: (
    '100': #DDF2F5,
    '200': #B5E6EB,
    '300': #7FCED5,
    '400': #59BAC3,
    '500': #1E9CA8,
    '600': #0F7D8A,
    '700': #0A616A,
    '800': #105157,
    '900': #114448
);

$blues: (
    '100': #E1EFFC,
    '200': #BFDCFC,
    '300': #8BC2F8,
    '400': #5FA7F3,
    '500': #3C91EC,
    '600': #1B74D9,
    '700': #1E5898,
    '800': #1E4C80,
    '900': #1C3C63
);

$indigos: (
    '100': #E2EFFF,
    '200': #C4DBFD,
    '300': #A1BEFA,
    '400': #89A3F7,
    '500': #6C83E9,
    '600': #5966D9,
    '700': #4C4F9E,
    '800': #42417B,
    '900': #3A3462
);

$purples: (
    '100': #F0E9FB,
    '200': #E2D4F8,
    '300': #CBB2F6,
    '400': #B89AF4,
    '500': #9C73ED,
    '600': #8256E1,
    '700': #6340B6,
    '800': #50388E,
    '900': #413170
);

$grays: (
    '000': #f8f9fa,
    '100': #f1f3f5,
    '200': #e9ecef,
    '300': #dee2e6,
    '400': #ced4da,
    '500': #adb5bd,
    '600': #868e96,
    '700': #495057,
    '800': #343a40,
    '900': #212529
);

:root {
    /* v1 Colors */
    --cirrus-fg: #{$cirrus-fg};
    --cirrus-bg: #{$cirrus-bg};

    --cirrus-primary: #{$cirrus-primary};
    --cirrus-primary-rgb: #{hex-to-rgb($cirrus-primary)};
    --cirrus-primary-light: #{$cirrus-primary-light};
    --cirrus-accent-hover: #{$cirrus-accent-hover};
    --cirrus-accent-border: #{$cirrus-accent-border};
    --cirrus-light: #{$cirrus-light};
    --cirrus-light-gray: #{$cirrus-light-gray};
    --cirrus-gray: #{$cirrus-gray};
    --cirrus-dark-gray: #{$cirrus-dark-gray};
    --cirrus-dark: #{$cirrus-dark};
    --cirrus-link: #{$cirrus-link};
    --cirrus-link-dark: #{$cirrus-link-dark};
    --cirrus-info: #{$cirrus-info};
    --cirrus-success: #{$cirrus-success};
    --cirrus-success-rgb: #{hex-to-rgb($cirrus-success)};
    --cirrus-warning: #{$cirrus-warning};
    --cirrus-danger: #{$cirrus-danger};

    --cirrus-light-hover: #{darken($cirrus-light, 10%)};
    --cirrus-dark-hover: #{lighten($cirrus-dark, 10%)};
    --cirrus-info-hover: #{darken($cirrus-info, 5%)};
    --cirrus-link-hover: #{$cirrus-link-hover};
    --cirrus-success-hover: #{darken($cirrus-success, 5%)};
    --cirrus-warning-hover: #{darken($cirrus-warning, 5%)};
    --cirrus-danger-hover: #{darken($cirrus-danger, 15%)};

    --cirrus-select-bg: rgba(0, 161, 255, 0.2);

    --cirrus-code-bg: var(--cirrus-primary-light);
    --cirrus-code-fg: #{$cirrus-code-fg};

    --cirrus-form-group-bg: var(--cirrus-light-gray);
    --cirrus-form-group-fg: var(--cirrus-dark-gray);

    --toast-primary-bg: #{$toast-primary-bg};

    --animation-duration: #{$animation-duration};
    --focus-opacity: #{$focus-opacity};

    --space-size: #{$space-size};

    --font-size-xs: #{$font-size-xs};
    --font-size-s: #{$font-size-s};
    --font-size-m: #{$font-size-m};
    --font-size-l: #{$font-size-l};
    --font-size-xl: #{$font-size-xl};
}